
/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 1920PX) START ------------------------------*/
@media only screen and (max-width: 1920px) {
    .mobile-menu-toggle {
        display: none;
    }
}
/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 1920PX) COMPLETE ------------------------------*/

/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 1599PX) START ------------------------------*/
@media only screen and (max-width: 1599px) {
    html {
        font-size: 15px;
    }
    .user-call-supports {
        display: flex;
        align-items: center;
        padding: 0 20px;
    }
    .user-notification {
        margin: 0 15px;
    }
    .sidebar-menu {
        max-width: 280px;
        padding: 25px 25px;
    }
    .top-header,
    section.page-section  {
        max-width: calc(100% - 280px);
    }
    .pay-mobile-image {
        max-width: 70%;
    }
    .pay-reminder {
        flex-wrap: wrap;
        gap: 8px;
    }
    .info-formalities-box-head {
        padding: 15px 20px;
    }
    .info-formalities-box-cta {
        padding: 10px 20px;
    }
    .info-formalities-box-body {
        padding: 12px 20px;
    }
}
/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 1599PX) COMPLETE ------------------------------*/

/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 1299PX) START ------------------------------*/
@media only screen and (max-width: 1299px) {
    html {
        font-size: 14px;
    }
    .sidebar-menu {
        max-width: 250px;
        padding: 20px 22px;
    }
    .top-header,
    section.page-section  {
        max-width: calc(100% - 250px);
    }
    .user-notification {
        margin: 0 10px;
    }
    .top-header-content {
        justify-content: start;
    }
    .top-header-user-name {
        margin-bottom: 7px;
    }
    section.page-section {
        padding: 0 15px;
        margin-top: 110px;
    }
    .sidebar-menu-nav a {
        padding: 12px 18px;
    }
    .content-table {
        padding: 12px;
    }
    .pay-mobile-image {
        max-width: 30%;
        margin: 8px auto;
    }
    .info-formalities-box-head {
        padding: 12px 18px;
    }
    .info-formalities-box-body {
        padding: 10px 18px;
    }
    .info-formalities-box-cta {
        padding: 8px 18px;
    }
    .content-formalities.blank {
        padding: 150px 50px;
    }
}   
/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 1299PX) COMPLETE ------------------------------*/

/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 992PX) START ------------------------------*/
@media only screen and (max-width: 992px) {
    html {
        font-size: 13px;
    }
    .mobile-menu-toggle {
        display: flex;
        float: right;
    }
    .top-header-content {
        display: none;
        position: absolute;
        right: 20px;
        top: 60px;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        background: var(--light);
        border-radius: 10px;
        box-shadow: 0 5px 15px 0 #00000020;
        color: var(--dark);
        padding: 15px 0;
        height: auto;
        width: 100%;
        max-width: 320px;
        z-index: 102;
    }
    .top-header-content.open {
        display: block;
    }
    .user-call-supports p {
        color: var(--primary);
    }
    main.main-page {
        height: auto;
    }
    section.page-section {
        max-width: 100%;
    }
    .sidebar-menu {
        max-width: 220px;
        padding: 20px 12px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 102;
    }
    .sidebar-menu.collapsed {
        width: 0;
        padding: 0;
    }
    .sidebar-menu.collapsed .sidebar-menu-toggle {
        position: fixed;
        top: 10px;
        left: 15px;
        z-index: 102;
    }
    .top-header,
    .top-header.expanded,
    section.page-section,
    section.page-section.expanded {
        max-width: 100%;
    }
    .user-supports {
        flex-direction: column;
        gap: 12px;
    }
    .user-notification {
        position: fixed;
        top: 9px;
        right: 55px;
        padding: 8px 8px;
        border-radius: 6px;
    }
    .user-notification img {
        max-width: 18px;
    }
    .user-profile h6 {
        max-width: 170px;
    }
    .user-wallet {
        background: #e4e4e452;
        border: 1px solid #b45ba145;
        margin: 0 auto 15px;
        width: 100%;
        max-width: 60%;
        padding: 4px 0;
    }
    .user-wallet p {
        color: #333;
    }
    section.page-section {
        margin-top: 70px;
    }
    .sidebar-menu {
        max-width: 230px;
        padding: 20px 15px;
    }
    .top-header-user-name {
        margin-bottom: 0;
        padding-left: 40px;
    }
    .profile-submenu a {
        padding: 8px 15px;
    }
    .payment-formalities-box {
        padding: 15px 18px;
    }
    .cta-icon.bigger {
        height: 70px;
        width: 70px;
    }
    .pay-mobile-image {
        max-width: 40%;
        margin: 5px auto;
    }
    .pay-reminder {
        flex-wrap: nowrap;
    }
    .modal-content-box {
        padding: 12px 18px;
    }
    .patient-info-editor {
        gap: 20px;
        flex-wrap: wrap;
        padding: 14px 22px;
    }
    .patient-info-editor-column {
        height: auto;
        width: 100%;
    }
}
/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 992PX) COMPLETE ------------------------------*/

/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 768PX) START ------------------------------*/
@media only screen and (max-width: 768px) {
    .sidebar-menu-nav a {
        padding: 10px 15px;
    }
    .top-header-content {
        max-width: 270px;
        padding: 15px 0;
    }
    .sidebar-menu-top {
        padding-bottom: 25px;
    }
    span.sidebar-menu-nav-icon {
        padding-right: 10px;
    }
    input,
    select,
    textarea {
        padding: 10px 15px;
    }
    .content-table-btn-part button.completed-btn,
    .content-table-btn-part button.edit-btn,
    .content-table-btn-part button.print-btn,
    .content-table-btn-part button.warning-btn,
    .content-table-btn-part button.pending-btn,
    .content-table-btn-part button.request-btn,
    .content-table-btn-part button.submitted-btn,
    .content-table-btn-part button.browse-btn {
        padding: 6px 12px;
    }
    .sidebar-menu-nav a p {
        font-size: 110%;
    }
    .payment-formalities-box {
        padding: 10px 15px;
    }
    .payment-formalities-box p.floating-paragraph {
        position: relative;
        bottom: 0;
        right: 0;
    }
    .content-formalities.blank {
        padding: 120px 30px;
    }
    .field-icon.scaled {
        height: 55px;
        width: 55px;
    }
    .upload-success-image {
        max-width: 65px;
    }
}
/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 768PX) COMPLETE ------------------------------*/

/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 576PX) START ------------------------------*/
@media only screen and (max-width: 576px) {
    .table-pagination {
        justify-content: center;
        flex-direction: column;
        padding: 5px 20px 0;
    }
    .content-table-text {
        min-width: 140px;
    }
    .top-header-content {
        max-width: 250px;
        padding: 13px 0;
    }
    .user-wallet {
        padding: 2px 0;
        border-radius: 8px;
        max-width: 80%;
    }
    .content-formalities {
        padding-bottom: 12px;
    }
    .payment-formalities-box {
        flex-direction: column;
        align-items: flex-start;
    }
    .payment-icon {
        height: 42px;
        width: 42px;
        margin: 0 0 8px;
    }
    .payment-formalities-box h3 {
        font-size: 180%;
    }
    .field-formalities-action-part.upload {
        margin-top: 7px;
        padding: 14px 15px;
        flex-wrap: wrap;
        gap: 12px;
    }
    .field-formalities-box {
        padding: 10px 15px;
    }
    .info-formalities-box-head {
        padding: 7px 14px;
    }
    .info-formalities-box-body {
        padding: 5px 10px;
    }
    .info-formalities-part {
        padding: 8px 10px;
    }
    .info-formalities-part .info-icon {
        height: 40px;
        width: 40px;
    }
    .info-formalities-part .info-icon img {
        max-width: 20px;
    }
    .info-formalities-box-cta {
        padding: 7px 16px;
        flex-direction: column;
        align-items: start;
        gap: 12px;
    }
    .cta-icon.bigger {
        height: 60px;
        width: 60px;
    }
    .cta-icon.bigger i {
        font-size: 220%;
    }
    .pay-mobile-image {
        max-width: 60%;
        margin: 3px auto;
    }
    .content-formalities.blank {
        padding: 100px 0;
    }
    .modal-content-box {
        padding: 6px 8px;
    }
    .editor-toolbar {
        gap: 4px;
        padding: 0 0 10px;
        margin-bottom: 12px;
    }
    .patient-info-editor {
        padding: 12px 18px;
        gap: 15px;
    }
    .patient-info-editor-row {
        margin-bottom: 12px;
    }
}
/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 576PX) COMPLETE ------------------------------*/

/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 375PX) START ------------------------------*/
@media only screen and (max-width: 375px) {
    .top-header-content {
        max-width: 245px;
    }
    .info-formalities-box-cta {
        gap: 10px;
    }
    .pay-mobile-image {
        max-width: 70%;
    }
    .field-icon {
        margin: 0 15px 0 0;
    }
    .modal-content-box {
        padding: 4px 5px;
    }
}
/*----------------------------- MEDIA QUERRY CSS FOR (RESPONSIVE FOR MAXIMUM 375PX) COMPLETE ------------------------------*/